.header-1 {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 28px;
    height: 100px;
    justify-content: space-between;
}

.header-links {
    color: #e5e7eb;
    font-size: 18px;
    height: 200px;
    gap: 100px;
}

.header-2 {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 48px;
    height: 100px;
    flex-direction: column;
}
.subtext {
    color: #e5e7eb;
    font-size: 18px;
}

.button {
    background-color: #3882f6;
    width: 100px;
}

.body-upper {
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: center;
}

.body-middle {
    background-color: #e5e7eb;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-lower {
    background-color: white;
    height: 100px;
    display: flex;
}

.call-to-action {
    background-color: ;
}

.footer {
    background-color: #1f2937;
    height: 20;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
}


